.headlines {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #416788;
  }

  .button {
    color: #070707;
    background-color:#7389AE;
    text-decoration: none;
  }

  .highlightedWords {
    font-style:italic;
    font-weight: 600;
    font-size: 16px;
    color: #7389AE;
  }

  body {
    background-color: #FEF6C9;
  }

  #aboutMeText {
    background-color: #FEF6C9;
    color: #070707;
    font-family: 'Montserrat', sans-serif;
  }

  .pictureContainer {
      height: 300px;
  }

  #profilePic {
    float: left;
    width: 300px;
  }

  #skillList {
    list-style: none;
  }

  div {
      border: 2px solid red;
  }